{% extends "./baseh.html"%}
{% load widget_tweaks%}

<!-- Title -->
{% block headcontent %}
<title>Nuevo Paciente</title>
{% endblock  %}
<!-- /Title -->

{% block patient_creation %}
<!-- New patient form -->
<div class="col">
  <form method="POST" >
    {% csrf_token %}
    <div class="row">
      {% for field in form %}
        <div class="col-3 form-group">
          {{ field.errors}}
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
        </div>
        {% endfor %}
    </div>
    
    <div class="flex-row">
      <a href="{% url 'home'%}" type="button" class="btn btn-outline-secondary btn-sm">Cancelar</a>
      <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
    </div>

  </form>
 
</div>
<!-- New patient form -->
{% endblock%}
<!-- /Modal Patient Creation -->