{% extends "./baseh.html"%}

<!-- Title -->
{% block headcontent %}
<title>{{ patient.name }} | {{ patient.id_number }} </title>
{% endblock  %}
<!-- /Title -->
{% block patient_profile %}
<div class="card w-100">
    <div class="row">
        <div class="col">
            <div class="card-body">
              <h1 class="card-text" > {{ patient.name}} {{ patient.last_name}} </h1>
              <span class="card-text"> Tipo de documento </span>
              <span class="card-text"> Numero de documento {{ patient.id_number}} </span>
              <span class="card-text"> Edad {{ patient.age}} </span>
              <span class="card-text"> Fecha de Nacimiento {{ patient.date_birth}}  </span>
              <span class="card-text"> Telefono {{ patient.telephone}} </span>
              <span class="card-text"> Email {{ patient.email}} </span>
            </div>
            <div class="card-body">
              <a href="{% url 'patient_update' patient.id_number %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'patient_deactivate' patient.id_number %}" class="btn btn-primary">Desactivar</a>
              <a href="{% url 'patient_delete' patient.id_number %}" class="btn btn-primary">Eliminar</a>
            </div>
            
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Historia clinica</h5>

          <!-- Search bar -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <!-- /Search bar -->
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formulacion del Caso</h5>
          <p class="card-text">Nuevo Reporte</p>
          <a href="#"  class="btn btn-primary">Crear Nueva Cita</a>
        </div>
      </div>
    </div>
</div>
{% endblock%}



