{% extends "./baseh.html"%}

<!-- Title -->
{% block headcontent %}
<title>Nuevo Paciente</title>
{% endblock  %}
<!-- /Title -->

{% block patient_creation %}
<!-- New patient form -->
<div>
<form method="POST">
  {% csrf_token %}
  {{ form }}
  <!-- <fieldset>
    <legend>Datos personales</legend>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="inputName">Nombre Completo</label>
          <input type="text" class="form-control" id="name" name="name" required="True">
        </div>
        <div class="form-group col-3">
          <label for="inputIdType">Tipo de documento</label>
          <select class="form-control" id="id_type" name="id_type" required="True">
            <option selected>Cedula de Ciudadania</option>
            <option>Cedula Extranjería</option>
            <option>Pasaporte</option>
          </select>
        </div>
        <div class="form-group col-3">
          <label for="inputIdNumber">Número de documento</label>
          <input type="number" class="form-control" id="id_number" name="id_number" required="True">
        </div>
    </div>

    <div class="form-row">
      <div class="form-group col-3">
        <label for="inputName">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="date_birth" name="date_birth">
      </div>

      <div class="form-group col-3">
        <label for="inputIdNumber">Edad</label>
        <input type="number" class="form-control" id="age" name="age" required="True">
      </div>

      <div class="form-group col-3">
        <label for="inputIdType">Género</label>
        <select class="form-control" id="gender" name="gender">
          <option selected>Masculino</option>
          <option>Femenino</option>
          <option>Otro</option>
        </select>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Datos civiles</legend>
      <div class="form-row">
        <div class="form-group col-3">
          <label for="inputOcupation">Ocupación</label>
          <input type="" class="form-control" id="ocupation" name="ocupation">
        </div>
        <div class="form-group col-3">
          <label for="inputschoolarchip">Escolaridad</label>
          <select class="form-control" id="schoolarchip" name="schoolarchip">
            <option selected>Sin escolaridad</option>
            <option>Primaria</option>
            <option>Secundaria</option>
            <option>Pregrado</option>
            <option>Postgrado</option>
          </select>
        </div>
        <div class="form-group col-3">
          <label for="inputCivilState">Estado Civil</label>
          <select class="form-control" id="civil_state" name="civil_state">
            <option selected>Soltero/a</option>
            <option>Casado/a</option>
            <option>Union libre</option>
            <option>Divorciado/a</option>
            <option>Viudo/a</option>
          </select>
        </div>

      </div>
  </fieldset>

  <fieldset>
    <legend>Datos de contacto</legend>
      <div class="form-row">
        <div class="form-group col-3">
          <label for="inputAddress">Dirección</label>
          <input type="text" class="form-control" id="adress" name="adress">
        </div>
        <div class="form-group col-3">
          <label for="inputTelephone">Telefono</label>
          <input type="text" class="form-control" id="telephone" name="telephone">
        </div>
        <div class="form-group col-3">
          <label for="inputEmail">Correo electronico</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
      </div>
  </fieldset> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
<!-- New patient form -->
{% endblock%}
<!-- /Modal Patient Creation -->